body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* https://www.w3schools.com/colors/colors_gradient.asp Used this to learn and apply a gradient to the 
background  */
body > #root > section {
  height: 100vh !important;
  background: linear-gradient(to bottom, #003366 0%, #33ccff 95%);
  background-repeat: no-repeat;
}